
.button-home {
  
  border: none;
  background:#2C666E;
  color: wheat !important;
  text-decoration: auto;
  font-weight: 100;
  border-radius: 6px;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.3s ease 0s;
  
  
}



.button-home:hover {
  
color: #404040 !important;
font-weight: 700 !important;
letter-spacing: 5px;
background-color: #304a40;
background: none;
/* -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57); */
transition: all 0.7s ease 0s;

}


/*contact form general*/

.section-header {
  
  
  color: wheat;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  letter-spacing: 6px;
  
}
.form-container{
  display: flex;
  align-items: center; 
  flex-direction: column;
  padding-top: 3%;
  padding-bottom: 2%;
   
} 


.form-control, textarea {
  font-family: 'Poiret One'; 
  font-size: 1.5em;
  padding-left: 10px;
  height: 50px;
  margin-top: 50px;
  min-width: 40%;
  background-color: wheat;  
  border: none;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 5%) 0px 1px 2px 0px;

}

.form-control-text{
  height: 120px;
  
  padding-top: 10px; 
  margin-top: 35px; 
  font-family: 'Poiret One'; 
  font-size: 1.5em;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 5%) 0px 1px 2px 0px;

  border: none;
  
}

 /*button*/  

 .button {
  border: none;
  background:wheat;
  color: #304a40 !important;
  text-decoration: auto;
  font-weight: 100;
  margin-top: 50px;
  padding: 20px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  /* box-shadow: 0px 4px 2px rgba(0 0 0 / 30%);
   */
}



.button:hover {
  
 color: #404040 !important;
font-weight: 700 !important;
letter-spacing: 5px; 
background-color: #658e77; 
background: none;
/* -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57); */
transition: all 0.3s ease 0s;
}
