/* GENERAL */  /* GENERAL */  /* GENERAL */  /* GENERAL */
.home-title {
  letter-spacing: 0.20em;
  font-family: 'Rock Salt'; 
  /* font-family: 'Roboto', sans-serif;  */
  
  color: wheat;
  
  font-size: small;
  
}



h1{
  text-shadow: black;
}

/* .element {
  align-items: center;
  background-color: #658e77;
  box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -px -8px 12px 0 rgba(255, 255, 255, 0.3);
  border-radius: 1000px;
  
} */
.home-page{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-x: hidden
  
}


/* NAV */  /* NAV */  /* NAV */  /* NAV */  /* NAV */

.navbar {
  font: 300 60px 'Oswald', sans-serif;
  font-size: calc(15px + 0.1vw);
  color: wheat;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  user-select: none;
  white-space: nowrap;
  padding: 30px 0px;

}

.header li a:hover {
color: #404040 !important;
background-color: #304a40;
background: none;
transition: all 0.7s ease 0s;
}




/* header */  /* header */  /* header */  /* header */  /* header */


.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  
  
}


.header li a {
  display: block;
  padding: 20px 20px;
  color: wheat;
  text-decoration: none;
  
}


/* menu */  /* menu */  /* menu */  /* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 0px 0px;
  position: relative;
  user-select: none;
  
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: all .0.1s ease-out; 
  width: 18px;
}


.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  
  height: 100%;
  position: absolute;
  transition: all .0.1s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

/* .header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
} */

/* .header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
} */

/* .header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
} */

/* .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
} */

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}


/* BODY */  /* BODY */  /* BODY */  /* BODY */  /* BODY */

.body-container{
  display: flex;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  letter-spacing: 8px;
  margin: 7em;
  font: 300 60px 'Oswald', sans-serif;
  background-color: #658e77;
  font-size: calc(18px + 0.1vw);
  color: wheat;
  
}

/* FOOTER */  /* FOOTER */  /* FOOTER */  /* FOOTER */

.footer-container{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 4px 0px;
}



.icons-footer{

  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 2em;
  width: 20%;
} 



.logo-rs {

width: 25px; 
height: auto;
margin: 0.9em; 
  
}
