h2 {
font: 300 60px 'Oswald', sans-serif;
color: wheat;
margin: 2 auto;
text-align: center;
letter-spacing: 6px;
  
}

.container-timara {
    display: flex;
    flex-direction: column;
    color: wheat;
    width: 300px;
    padding: 60px;
    /* font: 300 60px 'Oswald', sans-serif; */
  
  /* 
  text-align: center; */
  
  letter-spacing: 6px;
    
}

.picture-timara {
    width: 240px;
    
}